---
name: Deploy
on:
  workflow_dispatch:  # allows manual triggering
  push:
    branches: [main]
jobs:
  gh-pages:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Install termux-create-package
        run: pip3 install termux-create-package
      - name: Install termux-apt-repo
        run: pip3 install termux-apt-repo
      - name: Build packages and deploy to pages
        run: make
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
