---
name: Deploy
on:
  workflow_dispatch:  # allows manual triggering
  push:
    branches: [main]
jobs:
  gh-pages:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: actions/setup-python@v5
      - name: Install termux packages
        uses: insightsengineering/pip-action@v2
        with:
          packages: |
            termux-create-packages
            termux-apt-repo
      - name: Install packages
      - uses: amitie10g/install-package@v1
        with:
          apt: jq moreutils
      - name: Build packages and deploy to pages
        run: make
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
